/*** TERMINAL ***/

terminal-screen-container box {
	padding: 30px;
}

terminal-window {
	background-color: #1e1e1e;
	border-radius: 0 0 7px 7px;
}

terminal-window decoration {
	border-radius: 7px;
}

/*** NAUTILUS ***/

window.nautilus-window decoration {
	border-radius: 7px;
}

window.nautilus-window {
	border-radius: 0 0 7px 7px;
}

window.nautilus-window grid paned box placessidebar viewport list {
	background-color: rgba(180, 180, 180, 0.05);
	border-radius: 0 0 7px 7px;
}

window.nautilus-window grid paned overlay notebook stack, window.nautilus-window grid paned overlay notebook, window.nautilus-window grid paned overlay scrolledwindow treeview {
	border-radius: 0 0 7px 7px;
}

window.nautilus-window grid paned box placessidebar {
	background-color: rgba(0,0,0,0);
	border-radius: 7px;
}
